[submodule "hw/NikonScope"]
	path = hw/NikonScope
	url = git@github.com:cribb/NikonScope.git
[submodule "hw/LudlStage"]
	path = hw/LudlStage
	url = git@github.com:cribb/LudlStage.git
[submodule "hw/VidCollect"]
	path = hw/VidCollect
	url = git@github.com:cribb/VidCollect.git
